/*------------------------------------*/
  /*$COLORS
/*------------------------------------*/
$c-black: #161616
$c-white: #fff
$gray-text: #999999
$gray-content: #f4f4f4

/*------------------------------------*/
  /*$FONTS
/*------------------------------------*/

$f-merry-b: 'Merriweather', sans-serif
$f-merry-r: 'Merriweather-Regular', sans-serif
$f-merry-l: 'Merriweather-Light', sans-serif