<header id="header" class="wrapper">
	<!-- <input type="ckeckbox"  id="mobile-menu" class="ee-mobile-menu">
	<label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label> -->
  <div class="ee-container-fluid ee-topbar">
    <div class="ee-logo">
    		<a href="https://www.emagister.com.co/landing/main/?pfichas=14847&sid=3&utm_source=elespectador&utm_medium=cpl&utm_content=logo_widget_edu&utm_campaign=logo_widget_edu"><img src="assets/img/emagister-logo.png" class="ee-menu__link"></a>
    </div>
    <nav class="ee-navigation">
      <ul class="ee-menu">
        <li class="ee-menu__item"> <a href="portfolio.html" class="ee-menu__link">Cursos</a>
        </li>
        <li class="active ee-menu__item"><a href="portfolio.html" class="ee-menu__link">Centros</a>
        </li>
      </ul>
      <form class="ee-search">
        <input type="text" placeholder="Search" id="ee-search" class="ee-search-field">
        <label for="ee-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form>
    </nav>
  </div>
</header><!-- /header -->