
/* You can add global styles to this file, and also import other style files */
@import 'sass/styles.sass'

body
	max-width: 1000px
	margin: 0 auto
	box-sizing: border-box
	padding: 10px 0
	font-family: $f-merry-r


